.backgroundServices {
  background-color: #4e4e4e;
  width: 100%;
}
.test10 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  /* height: inherit !important; */
  /* background-color: green !important; */
  text-align: center !important;
  margin-top: 5px;
  color: rgb(3, 179, 3) !important;
}

.textCol {
  color: rgb(234, 245, 84);
}
@media only screen and (max-width: 688px) {
  .service-container {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0px;
  }
  .backgroundServices {
    background-color: #4e4e4e;
    width: 100%;
  }
  .formb {
    margin-top: 80px !important;
  }
  .ttr {
    margin-top: 0 !important;
  }
  .fmbl {
    margin-right: 0 !important;
  }
}
@media only screen and (min-width: 689px) and (max-width: 991px) {
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .backgroundServices {
    background-color: #4e4e4e;
    width: 100%;
  }
}
